<!doctype html>
<html>
<head>
  <title>Lets Play</title>
</head>
<body>
  <form action="/madlib">
    
    Name <input type="text" name="person"><br><br>
    <label for="color_select">Color options</label>

    <select name="color" id="color_select">
      <option value="pink">Pink</option>
      <option value="purple">Purple</option>
      <option value="morena">Morena</option>
    </select><br><br>
    Noun <input type="text" name="noun"><br><br>
    Adjective <input type="text" name="adjective"><br><br>
    <input type="submit">
  </form>
</body>
</html>